VITE_CONTENTFUL_SPACE_ID=
VITE_CONTENTFUL_ACCESS_TOKEN=
VITE_CONTENTFUL_MANAGEMENT_TOKEN=
VITE_CONTENTFUL_ENVIRONMENT=master
VITE_CONTENTFUL_BLOG_CONTENT_TYPE=blogPost
VITE_CONTENTFUL_LOCALE=en-US
VITE_BLOG_AUTH_USER=admin@SMJ.local
VITE_BLOG_AUTH_PASSWORD=admin123
